// background
$color-back-page: #fff;
$color-back-tech-item: #E8E8E8;
$color-back-card: #FDFDFD;
$color-back-sec: #465DFF;
$color-back-tech: #F5F5F5;
$color-back-add: #F2F2F2;
$color-back-add-1: #8b8b8b;
$color-back-add-2: #a0a0a0;

// text
$color-text-primary: #000000;
$color-text-promo: #fff;
$color-text-accent: #000000;

// border
$color-border-light: #dadada;
$color-border-dark: #424242;
$color-border-light: #e6e6e6;

// input
$color-icon-input: #F9F9F9;
$color-btn-add-1: #F9F9F9;
$color-checkbox-dis: #ebebeb;
$color-checkbox-circle-dis: #f5f5f5;

// accent
$color-accent-1: #2BE080;
$color-accent-2: #FF6838;
$color-accent-3: #EE3465;

// font
$font-size-xxl: 14rem;
$font-size-xl: 5rem;
$font-size-l: 4rem;
$font-size-m: 3rem;
$font-size-s: 2.2rem;
$font-size-xs: 1.8rem;
$font-size-xxs: 1.4rem;

// size
$media-desktop: 1279px;
$media-laptop: 1024px;
$media-tablet: 768px;
$media-mobile-l: 480px;
$media-mobile-s: 320px;

// content decor
$content-width: 1140px;
$promo-width: 640px;
$entrance-form-width: 396px;

// opacity decor
$opacity-strong: 80%;
$opacity-medium: 70%;
$opacity-strong: 80%;
$opacity-btn-disabled: 60%;

// border decor
$border-radius: 1rem;
$border-radius-m: 0.6rem;
$border-radius-s: 0.3rem;
