.filter-checkbox {
  $width: 36px;
  $height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  column-gap: 14px;

  @media screen and (max-width: $media-mobile-l) {
    height: 100px;
  }

  &__wrapper {
    position: relative;
    bottom: 28px;
    margin-top: 60px;
  }

  &__input {
    visibility: hidden;
    width: $width;
    height: $height;

    &:checked + .filter-checkbox__label {
      background-color: $color-accent-1;
    }

    &:checked + .filter-checkbox__label::after {
      left: 18px;
    }
  }

  &__label {
    position: absolute;
    top: 0;
    left: 0;
    width: $width;
    height: $height;
    background-color: $color-checkbox-dis;
    border-radius: 20px;

    @extend %animation;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      top: 6px;
      left: 6px;
      width: 8px;
      height: 8px;
      background-color: $color-checkbox-circle-dis;
      border-radius: 50%;
      @extend %animation;
    }
  }

  &__span {
    @include font(
      $size: $font-size-xxs,
      $line-height: calc(1.8rem / $font-size-xxs),
      $letter-spacing: 0
    );

    @media screen and (max-width: $media-mobile-l) {
      font-size: 1.1rem;
    }
  }
}
